

@media screen and (max-width: 500px) {
   table, head, tbody, th, tr, td {
    display: block;
   }

   thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
   }

   td {
    position: relative;
    padding-left: 50%;
   }

   td:before {
    position: absolute;
    left: 6px;
    content: attr(data-th);
    font-weight: bold;
   }
}